/* .flexbox {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
} */

div.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

img.gallery {
    border: 1px solid #ccc;
    margin: 0.5em;
}
 
img.galery:hover {
    border: 1px solid #777;
}

/* .responsive {
    width: 25%;
  } */
  
@media only screen and (max-width: 768px) {
    .responsive {
      width: 50%;
    }
    .flexbox,
    h1,h2{
      font-size: 25px;
    }
}
  
@media only screen and (max-width: 600px) {
    .responsive {
      width: 100%;
    }
    .flexbox,
    h1,h2{
      font-size: 20px;
    }
    div.gallery{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    /* margin: 1em 2em; */
    background-color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color:rgb(112, 9, 172);
}

h2 {
    border-left: 6px solid blueviolet;
    background-color: rgb(227, 215, 238);
    padding-left: 6px;
}

label.main, 
span {
    color:blueviolet;
    font-weight:bold 
}

input, 
textarea {
    background-color:ivory:
}
